/**
Princess
Module: alerts
**/

@import "../mixins/alerts";

.prncs-alert {
  color: $alert;
  font-weight: $fontWeight * 2;
}

.prncs-alert-block {
  @include alertBackground;
  display: block;
}

.prncs-alert-inline {
  @include alertBackground;
}