/**
Princess
Module: alerts
**/

.prncs-alert {
  color: $alert;
  font-weight: $fontWeight * 2;
}

.prncs-alert-block {
  @include soloPadding($padding/4);
  color: $alert;
  background-color: $alertLightest;
  display: block;
}