/** ====================================== **/

@import "../helpers/var";
@import "../helpers/colors";
@import "../helpers/mixins/margin_padding";
@import "../helpers/mixins/typography";

/**

Hello! Welcome to Princess.
Created and maintained by Liz Abinante (feministy)
http://github.com/feministy/princess.io
http://princess.io

Base, includes:
- basic typography
- primary HTML5 elements
- minor overrides to Normalize

**/

body, p {
  @include fontSize($fontSize);
  font-family: $font;
  font-weight: $fontWeight;
  line-height: #{$lineHeight}em;
  color: $text;
}

a, a:visited {
  color: $primary;
  text-decoration: none;
  font-weight: $fontWeight*1.5;
}

a:hover {
  color: $primaryLight;
}

// Primary text elements
em, i {
  font-style: italic;
  font-weight: $fontWeight*0.8;
}

strong, b {
  font-weight: $fontWeight*1.8;
}

// Headings

h1, h2, h3, h4, h5 {
  @include dualMargin($margin/4, 0);
}

h1 {
  @include fullPadding($padding*2, 0, $padding, 0);
  @include fontSize($fontSize*2.5);
  font-weight: $fontWeight*2;
}

h2, h3 {
  @include fullPadding($padding, 0, $padding/2, 0);
}

h2 {
  @include fontSize($fontSize*2);
  font-weight: $fontWeight;
}

h3 {
  @include fontSize($fontSize*1.6);
  font-weight: $fontWeight;
}

h4, h5 {
  @include fullPadding($padding/2, 0, $padding/4, 0);
}

h4 {
  @include fontSize($fontSize*1.3);
  font-weight: $fontWeight;
}

h5 {
  @include fontSize($fontSize);
  font-weight: $fontWeight*2;
}

h6 {
  @include fullPadding($padding/4, 0, $padding/4, 0);
  @include soloMargin(0);
  @include fontSize($fontSize*0.8);
  font-weight: $fontWeight*2;
}

// Lists
ul, ol {
  li {
    @include dualMargin(0, $margin*2);
    @include dualPadding($padding/4, 0);
  }
}

dl {
  dt {
    font-weight: $fontWeight*1.75;
    @include dualPadding(0, $padding);
    @include soloMargin(0);
  }

  dd {
    border-left: 1px dotted $textLightest;
    @include textAlign(justify);
    @include fontSize($fontSize*0.9);
    @include dualPadding(0, $padding/2);
    @include fullMargin(0, $padding*1.5, $padding, $padding*1.5);
  }
}

// Inline elements
abbr, abbr[title]  {
  border-bottom: 1px dotted $textLightest;
}

address {
  color: $textLight;
  font-style: italic;
}

blockquote {
  border-left: 5px solid $primaryLight;
  font-style: italic;
  @include soloPadding($padding);
}

cite {
  @include fontSize($fontSize*0.8);
}

code {
  background-color: $gray;
  @include soloPadding($padding/4);
}

del, s {
  color: $textLight;
}

dfn {
  font-weight: $fontWeight - 100;
}

kbd, samp {
  font-family: $fontMono;
}

mark {
  background-color: $accentLight;
  @include soloPadding($padding/4);
}

q:before, q:after {
  content: '"';
  font-family: $fontAccent;
  font-weight: $fontWeight*2;
  font-style: italic;
  @include fontSize($fontSize*1.1);
  @include dualPadding(0, $padding/4);
}

q {
  font-style: italic;
}

small {
  @include fontSize($fontSize*0.7);
}

sup, sub {
  color: $textLight;
}

var {
  font-family: $fontMono;
  font-style: normal;
}
