$default: (
  // primary teal, accent orange, alert red
  text: rgba(69, 68, 69, 1),
  background: #fff,
  primary: rgba(0, 147, 147, 1),
  accent: rgba(249, 59, 63, 1),
  alert: rgba(255, 5, 40, 1),
  gray: rgba(243, 243, 243, 1),
)
