// font family
$font: 'Helvetica', 'Arial', sans-serif;
$fontAccent: 'Georgia', serif;
$fontMono: 'Source Code Pro', 'Courier New', monospace;

// Base variables for typography
$fontSize: 1.05;
$fontWeight: 400;
$lineHeight: 1.5;

// Default padding, margin
$padding: 20;
$margin: 20;

// Modules
$borderRadius: 20px;
$transition: 500ms;
$verticalMenuWidth: 250;