#wrapper {
  width: 100%;
}

#container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  width: 300px;
  float: left;
}

section {
  margin-left: 300px;
}

.script {
  font-family: 'swingdancer', 'Helvetica', sans-serif;
  font-size: 6em;
  text-align: center;
  margin: 40px 0px;
}