$text: rgba(69, 68, 69, 1);

// Paired dark/light teal
$primary: rgba(0, 147, 147, 1);
$secondary: lighten($primary, 10%); 

// Paired orange/red
$accent: rgba(255, 88, 40, 1); 
$alert: rgba(255, 5, 40, 1);

// White alternative
$cream: rgba(245, 243, 220, 1);
