// font family
$font: 'Helvetica', 'Arial', sans-serif;
$fontAccent: 'Georgia', serif;

// Base variables for typography
$fontSize: 1.1;
$fontWeight: 400;
$lineHeight: 1.25;

// Default padding, margin
$padding: 20;
$margin: 20;
