@mixin borderRadius($num:$rounded) {
  -webkit-border-radius: #{$num}px;
  -moz-border-radius: #{$num}px;
  -o-border-radius: #{$num}px;
  -ms-border-radius: #{$num}px;
  border-radius: #{$num}px;
}

@mixin borderRadiusPercent($percent) {
  -webkit-border-radius: #{$percent};
  -moz-border-radius: #{$percent};
  -o-border-radius: #{$percent};
  -ms-border-radius: #{$percent};
  border-radius: #{$percent};
}


@mixin borderSkinny($color) {
  border: 1px solid $color;
}

@mixin borderSkinnyPosition($color, $pos) {
  border-#{$pos}: 1px solid $color;
}

@mixin borderWidePosition($color, $pos) {
  border-#{$pos}: 5px solid $color;
}