@mixin borderRadius($num:$borderRadius) {
  -webkit-border-radius: $num;
  -moz-border-radius: $num;
  -o-border-radius: $num;
  -ms-border-radius: $num;
  border-radius: $num;
}

@mixin borderSkinny($color) {
  border: 1px solid $color;
}

@mixin borderSkinnyPosition($color, $pos) {
  border-#{$pos}: 1px solid $color;
}

@mixin borderWidePosition($color, $pos) {
  border-#{$pos}: 5px solid $color;
}